
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



 #customFile{
  margin-bottom: 1rem;
} 

#clientid{
  margin-top: 2rem;
  margin-bottom: 0;
  /* background-color:black; */
  
}
.form{
  margin-top: 60px;
  background-color: white;
}

.text-email{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.text-email > h2{
  margin-top: 20px;
  margin-bottom: 10px;
  /* text-transform: capitalize; */
  /* font-size: 1em ; */
  
}


.multicolortext {
  background-image: linear-gradient(to left, violet,  cyan, blue, yellow, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-family: 'Bebas Neue', cursive;
}

#clientid , #accesstoken, #refrencetoken, #subject, #from_email , #to_email, #form6Example7,#customFile , #message,
#client_secret{
  color:black !important;
}

#customFile{
  margin-bottom: 1rem;
}
#id2{
  margin-bottom: 2rem;
}

a{
  text-decoration: none;
}
.btn1 {
  text-transform: uppercase;
  /* vertical-align: bottom; */
  border: 0;
  box-shadow: 0 2px 5px 0rgba(0,0,0,.2),0 2px 10px 0rgba(0,0,0,.1);
  font-weight: 500;
  /* padding: 0.625rem 1.5rem 0.5rem; */
  font-size: .75rem;
  line-height: 1.5;
  background-color: transparent;
  color:blue;
}
img{
  width: 440px;
  height: 230px;
}

/* input[type="file"] {
  cursor:pointer !important;
} */



#load_animation{
  width: 100%;
  height: 100vh;
  font-size: 4rem ;
  background-color: #fff;
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

#load_animation{
  display:none;
  z-index:999;

}
.animation {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  box-sizing: content-box;
  padding: 10px;
  transform: translate(-50% , -50%) ;
  opacity: .5;
  animation: spinner 3s infinite;
  transition: .5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
@keyframes spinner {
  50% {
    transform: translate(-50% , -50%) ;
    border: 2px solid rgba(0, 0, 0, 0.178);
    padding: 30px;
  }
  100% {
    opacity: 1;
    transform:translate(-50% , -50%) rotate(360deg);
    border: 3px solid rgba(0, 0, 0, 0);
    padding: 17rem;
    color: green;
  }

}



