<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="./about.css">
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        rel="stylesheet"
    />
     <title>Email | Blaster</title>
   <link rel="shortcut icon" href="/email-send.png" type="image/x-icon">

</head>
<body>
    <div id="goback">
                 <i class="fa fa-angle-double-left" style="font-size:36px"></i>
             </div>
        <div class="container">
             
                  <div class="circles"></div>
                  <div class="details-container">
                      <div class="avatar">
                          <img src="https://i.postimg.cc/Mp0xKNCw/deepak1.jpg" class="img-fluid" alt="">
                      </div>
                      <div class="about">
                          <div class="name">
                              <p>
                                  Hello There!
                              </p>
                              <h1>
                                  I'm Deepak Yadav
                              </h1>
                          </div>
                          <div class="about-content">
                              <p>
                                Hi, I'm a undergraduate Student who's currently learning Web development. I really want to learn how to implement my own designs in the browser and make qualitive Webiste!
                              </p>
                              <p>
                                  Part of the reason I'm learning to code is because I want to be able to put my own ideas into practice. My dream 'job' would be to build my own product and be responsbible for the entire experience from design through to implementation.
                              </p>
                              {{!-- <button>Download Resume</button> --}}
                          </div>
                      </div>
                      <div class="clear"></div>
                  </div>
                  <div class="skills-container">
                      <button>
                          MERN Developer
                      </button>
                      <button>
                          Instrumentation Engineer
                      </button>
                      <button>
                          Database Engineer
                      </button>
                  </div>
        </div> 
      
</body>
<script>
    document.getElementById("goback").addEventListener("click" ,()=>{
       history.back();
    })
</script>
</html>